:root {

    --DeepSea: #2b3d4f;
    --Ocean: #097374;
    --Shark: #3F474F;
    --Breeze: #A0C1D1;
    --Buoy: #D16666;

    --Wave: #476685;
    --Caribbean: #D9FBFC;
    --Dolphin: #D9FBFC;
    --Silt: #BBC2C9;
    --Coral: #E3A1A1;

    --Shell: #fffcfa;

}

#documenter img {
    max-width: 50%;
}

#documenter .docs-main {
    min-width: calc(75rem) !important;
}

#documenter .docs-sidebar {
    background-color: transparent;
    visibility: visible;

    border: 0px solid transparent !important;

    li {
        font-family: 'Roboto', sans-serif;

    }
}

#documenter .docs-package-name {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: none;
    padding: none;
}



#documenter .docs-navbar-link {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: none;
    padding: none;
}

/* docstring restyle */


#documenter article {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none;
}

#documenter .docstring {
    /* border-radius: 10px 10px 10px 10px; */
    /* background-color: var(--Shell) ; */
    border: 1px solid transparent !important;
    color: var(--Shark);
    /* border-bottom: 1px solid var(--DeepSea) !important; */

}

#documenter .docstring header {
    font-size: larger;
    background-color: transparent;
    color: var(--Wave) !important;
    border-radius: 10px 10px 0px 0px;
    padding: none;
    border: none;
    outline: none;


    /* -webkit-box-shadow: 0px 8px 12px 4px rgba(31, 38, 135, 0.1) !important;
    box-shadow: 0px 8px 12px 4px rgba(31, 38, 135, 0.1) !important; */
}

#documenter .docstring-article-toggle-button {
    color: var(--Wave) !important;
}

#documenter .docstring .docstring-binding code {
    color: var(--Wave) !important;
}

#documenter pre code {
    background-color: var(--Silt);
    color: var(--Shark)
}

#documenter .content a code {
    font-weight: bold;
}

#documenter .docstring a {
    color: var(--DeepSea);
}

/* modal restyle */

.modal-background {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2b3d4f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}