:root {

    --main-diva-color: #2b3d4f;
    --main-diva-color2: #097374;
    --main-diva-light: #A0C1D1;
    --main-diva-xlight: #D6E4EB;
    --main-diva-warn: #D16666;

    --main-dark-color: #3F474F;
    --main-dark_contrast: #5C6B73;


    /* --max-wrapper-width: 1800px; */
    --max-wrapper-width: 80vw;
    --def-wrapper-width: 100%;
    --header-height: 10vh;

    --max-containertext-width: 60%;

}

@font-face {
    font-family: JuliaMono;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Light.woff2");
}

body {
    font-family: Roboto, sans-serif;
    color: #444;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    background: rgba(31, 38, 135, 0.07);
}

main {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100vh;
    max-width: 100vw
}

header {
    background-color: var(--main-diva-color);
    color: white;
    text-align: left;
    max-height: var(--header-height);
    height: var(--header-height);
    width: 100%;
    padding: 40px 40 40px 40;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: fixed;
    z-index: 1000;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
}

.logoHeader {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logoHeader img {
    max-height: calc(var(--header-height)  - 40px);
}


.header_wrapper {
    width: var(--def-wrapper-width);
    max-width: var(--max-wrapper-width);
}

.header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0px 40px 0px 40px;
}

a {
    font-style: italic;
    text-decoration: none;
    color: var(--main-diva-color)
}


nav {
    display: flex;
    justify-content: left;
    gap: 40px;
    padding: 0px 40px 0px 40px;
}

nav a {
    font-style: normal;
    color: white;
    text-align: center;
}

.headerlink:hover {
    cursor: pointer;
    font-weight: bolder;
}

.headerlink {
    padding: 15px;
    font-size: larger;

}

.headerlink.selected {
    border-bottom: 0.8px solid white;
}


.wrapper {
    max-width: var(--max-wrapper-width);
    min-width: var(--max-wrapper-width);
    overflow-y: hidden;
    min-height: calc(100vh - var(--header-height));
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    background-color: white;
}



.wrapper_fullwidth {
    max-width: 100vw;
    min-width: 100vw;
    overflow-y: hidden;
    min-height: calc(100vh - var(--header-height));
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    background-color: white;
}

.textcontent {
    height: 100%;
    padding: 50px;
}

#embededHTML_docs {
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

#embededHTML_nbviewer {
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}



footer {
    background-color: var(--main-dark-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* section carousel */


.section_slider {
    display: flex;
    transition: transform 0.5s ease;
    height: 100vh;
    width: 100vw
}

section {
    min-width: 100%;
    min-height: calc(100vh - var(--header-height));
    max-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(var(--header-height));
    overflow: hidden;
}

footer {
    background-color: var(--main-light_contrast);
}


/* Element depths */

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-diva-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Explore Map */

#exploremap {
    height: 100%;
    width: 100vw !important;
}

.cluster-icon {
    /* background-color: var(--main-diva-warn); */
    color: var(--main-diva-xlight);
    width: 30px;
    height: 30px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid var(--main-diva-xlight);
    background-color: var(--main-diva-color);
}


.popup-metatable {
    width: 100%;

    td:first() {
        width: 50%;
    }

    td:not(:first-of-type) {
        font-weight: bold;
    }

}

#spinner {
    z-index: 9997;
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    position: fixed;

    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent background */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: space-around;
    /* Vertically center the items */
    align-items: center;
    text-align: center;
}

.loader {
    z-index: 9997;
    border: 16px solid var(--main-diva-xlight);
    border-top: 16px solid var(--main-diva-color);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    margin: auto;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}